	hr{
		color: hsl(200, 0%, 40%);
		background-color: hsl(200, 0%, 40%);
		height: 1px;
	}
	
	td{
		border: 1px solid black;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	h2{
		color: hsl(0, 0%, 35%);
	}
	
	h3{
		font-size: medium;
		font-style: italic;
		color: hsl(0, 0%, 45%);
	}
  body {
    padding-top: 10px;
    padding-bottom: 40px;
	  padding-left: 30px;
	  background:hsl(0, 0%, 96%);
	
	  font-size: large;
	  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	   font-weight: 300;
  }

	div#slider{
		margin-left: auto;
		margin-right: auto;
	    margin-bottom: 10px;
	
		background:hsl(0, 0%, 93%);
	}
	
	div#main{
		float: left;
		width: 800px;
	    height: auto;
	}
	
	div#page{
		width: 1100px;
		height: 1000px;
		padding-left:20px;
		padding-right:20px;
		background:hsl(0, 0%, 94%);
	}
	.vspace{
		width:1000px;
		height:650px;
	}
	 .container{
	  width:900px;
	  height:200px;
	  padding:2px;
		padding-left:30px;
		float:left;
	  
	  margin:0 auto;
	 }
	 .left{
	  float:left;
	  width:300px;
	  height:200px;
	  text-align:left;

	 }
	 .middle{
	  float:left;
	  width:300px;
	  height:200px;
	  text-align:left;

	 }
	 .right{
	  float:left;
	  width:300px;
	  height:200px;
	  text-align:left;

	 }
	 .clear{
	  clear:both;
	  height:0;
	  width:100%;
	 }
	
	div#header{
		text-align: center;
		background:hsl(0, 0%, 94%);
		height: 60px;
		padding-top: 0px;
    	padding-bottom: 0px;
	  	padding-left: 0px;
		margin-left: 0px;
		margin-right: 0px;
	    margin-bottom: 0px;
	}
	
	div#listing{
		background:hsl(0, 0%, 94%);
		float: right;
	}
	
	/* ------------------------------ */
	/* Layered Paper */
	/* source http://css-tricks.com/snippets/css/layered-paper/ */
	.layered-paper {
	    background: #eee;
	  box-shadow: 
	        1px 1px   0 rgba(0,   0,   0,   0.100), 
	        3px 3px   0 rgba(255, 255, 255, 1.0), 
	        4px 4px   0 rgba(0,   0,   0,   0.125), 
	        6px 6px   0 rgba(255, 255, 255, 1.0),  
	        7px 7px   0 rgba(0,   0,   0,   0.150), 
	        9px 9px   0 rgba(255, 255, 255, 1.0),  
	        10px 10px 0 rgba(0,   0,   0,   0.175);


	    padding: 30px;
	}
	/* ------------------------------ */
	
	/* ------------------------------ */
	/* sigma.js context : */
	/* source http://code.google.com/p/testprogramming/source/browse/trunk/javascript/canvas/sigma.js/gexf.html?spec=svn391&r=391 */
.sigma-parent {
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 10px;
	position: relative;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background: #222;
	width: 800px;
  height: 450px;
}
.sigma-expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* ------------------------------ */

/* ------------------------------ */
/* source: http://css-tricks.com/snippets/css/corner-ribbon/ */
	.wrapper {
	  margin: 50px auto;
	  width: 280px;
	  height: 370px;
	  background: white;
	  border-radius: 10px;
	  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
	  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
	  position: relative;
	  z-index: 90;
	}

	.ribbon-wrapper-green {
	  width: 85px;
	  height: 88px;
	  overflow: hidden;
	  position: absolute;
	  top: -3px;
	  right: -3px;
	}

	.ribbon-green {
	  font: bold 15px Sans-Serif;
	  color: #333;
	  text-align: center;
	  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	  -webkit-transform: rotate(45deg);
	  -moz-transform:    rotate(45deg);
	  -ms-transform:     rotate(45deg);
	  -o-transform:      rotate(45deg);
	  position: relative;
	  padding: 7px 0;
	  left: -5px;
	  top: 15px;
	  width: 120px;
	  background-color: #BFDC7A;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
	  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
	  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
	  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
	  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
	  color: #6a6340;
	  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
	}

	.ribbon-green:before, .ribbon-green:after {
	  content: "";
	  border-top:   3px solid #6e8900;   
	  border-left:  3px solid transparent;
	  border-right: 3px solid transparent;
	  position:absolute;
	  bottom: -3px;
	}

	.ribbon-green:before {
	  left: 0;
	}
	.ribbon-green:after {
	  right: 0;
	}​
/* ------------------------------ */
